# 5주차 실습 노트북
* 반드시 손으로 여러 번 반복해서 익히기 바랍니다.

## 리스트 선언 방법

* 빈 리스트 만들기

In [ ]:
a = []
print(a)
print(type(a))

In [ ]:
b = list()
print(b)
print(type(b))

* 값을 넣어 리스트 만들기

In [ ]:
a = [1,2,3,4,5]
print(a)

In [ ]:
a = list([1,2,3,4,5])
print(a)

b = list((1,2,3,4,5))
print(b)

c = list({1,2,3,4,5})
print(c)

## 리스트에 들어가는 값

* 다양한 자료형을 혼합하여 삽입 가능

In [ ]:
a = [1,2,3,'abc',4,'5']
print(a)

In [ ]:
b = ['',1,'a','hello',' ']
print(b)

In [ ]:
c = [ , , ]

## 리스트에 값 넣는 방법

* $N \times M$ 행렬로 값을 넣을 수 있음

(리스트 안에 리스트 넣기)

In [ ]:
[[1,2],[3,4]]

In [ ]:
a = [[1,2,3],
    [4,5,6]]
print(a)

In [ ]:
b = [[1,2],
    [3,4],
    [5,6]]
print(b)

In [ ]:
# 가독성을 위해 줄바꿈과 들여쓰기 혼합
c = [
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15]
]
print(c)

* 자유로운 형태로 값 넣을 수 있음

In [ ]:
a = [1,2,3,[4,5,6],[7,8]]
print(a)

In [ ]:
a = [
    1,
    2,
    3,
    [4,5,6],
    [7,8]
]
print(a)

## 리스트의 차원 바라보기

$2 \times 3$ 행렬일 때,
* 0번째 차원 : 2차원
* 1번째 차원 : 3차원

<table>
    <tr>
        <td>1</td><td>2</td><td>3</td>
    </tr>
    <tr>
        <td>4</td><td>5</td><td>6</td>
    </tr>
</table>

In [ ]:
a = [[7, 9, 2],
     [2, 4, 8]]
print(a)

In [ ]:
a = [1, 5, 1, 8, 7]
print(a)

* 3차원 - 아무 값이나 넣어서 손으로 직접 만들어보자.

$3\times 2\times 4$ 행렬 만들기

In [ ]:
a = [
    # 0번째 차원
    [
        # 1번째 차원
        [1,2,3,4], # 리스트안에 2번째 차원의 값을 4개씩 넣으면 끝
        [5,6,7,8]
    ],
    [
        [9,10,11,12],
        [13,14,15,16]
    ],
    [
        [17,18,19,20],
        [21,22,23,24]
    ]
]
print(a)

* 4차원도 쉬움 - 아무 값이나 넣어서 손으로 직접 만들어보자.

$3\times 2\times 4\times 5$

$a_{i,j,k,l}$

* $i \in [0,3)$
* $j \in [0,2)$
* $k \in [0,4)$
* $l \in [0,5)$

In [ ]:
a = [
    # 0번째 차원
    [
        #1번째 차원
        [
            # 2번째 차원
            [1,2,3,4,5], # 3번째 차원은 값을 5개씩 넣으면 끝
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ],
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ]
    ],
    [
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ],
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ]
    ],
    [
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ],
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ]
    ],
]

## 리스트에 저장된 값 가져오기

* 1차원

In [ ]:
a = [1,2,3,4,5]

print(a[0])
print(a[3])

* 다차원

In [ ]:
# 2 x 3
a = [[1,2,3],
    [4,5,6]]

print(a[0])
print(a[0][1])

In [ ]:
# 2 x 3 x 4
a = [
    [
        [9,14,20,6],
        [17,14,1,0],
        [5,5,8,0]
    ],
    [
        [16,23,5,18],
        [8,11,11,6],
        [22,3,8,19]
    ]
]

print(a[1][2][0])

* 무작위 모양의 리스트에서 값 가져오기

In [ ]:
a = [1,2,3,[4,5,6,[7,'k']],['a','b']]
print(a[0])
print(a[3])
print(a[3][3][1])
print(a[4][1])

* 뒤에서부터 가져오기

In [ ]:
a = [1,2,3,4,5]
print(a[-1])
print(a[-4])

## 리스트 슬라이싱

In [ ]:
a = [1,2,3,4,5,[6,7],8]
print(a[2:4])
print(a[-3:-1])

In [ ]:
# 시작 인덱스를 생략하면 가장 앞 부터
a = [1,2,3,4,5]
print(a[:3])

In [ ]:
# 끝 인덱스를 생략하면 가장 뒤 까지
a = [1,2,3,4,5]
print(a[2:])

In [ ]:
a = ['a','b','c','d','e']
b = a[:4]
print(b)

## 리스트에 들어있는 값 수정하기

In [ ]:
a = [1,2,5,4,5,6]
print(a)
a[2] = 3
print(a)

## 리스트 관련 함수

* append(값)

In [ ]:
a = [1,2,3]
print(a)
a.append(4)
print(a)

In [ ]:
a = [1,2,3]
print(a)
a.append([1,2])
print(a)

* extend(리스트)

In [ ]:
a = [1,2,3]
print(a)
a.extend([4,5])
print(a)

In [ ]:
a = [1,2,3]
print(a)
b = [4,5]
a.extend(b)
print(a)

In [ ]:
# 숫자를 넣으면 에러
a = [1,2,3]
print(a)
a.extend(4)
print(a)

* \+ 기호로 리스트를 연결해줄 수도 있음

In [ ]:
a = [1,2,3]
print(a)
b = [4,5]
a = a + b
print(a)

In [ ]:
a = [1,2,3]
print(a)
b = [4,5]
a += b
print(a)

* 문자열과 유사하게 \* 연산도 가능

In [ ]:
a = [1,2,3]
print(a * 3)

* insert(인덱스, 값)

In [ ]:
a = ['A','B','C','D']
print(a)
a.insert(1,'E')
print(a)

* remove(값)

In [ ]:
a = ['A','E','B','C','D']
print(a)
a.remove('E')
print(a)

In [ ]:
# 리스트 안에 동일한 값이 여러 개 있으면 가장 앞 하나만 삭제
a = [1,2,3,4,5,2,2,6]
print(a)
a.remove(2)
print(a)

In [ ]:
# 지우려는 값이 없으면 에러
a = [1,2,3]
print('초기 a:',a)
a.remove(2)
print('2를 삭제한 a:',a)
a.remove(2)
print('2를 한 번 더 삭제한 a:',a)

* index(값)

In [ ]:
a = [1,2,3,4,5]
a.index(3)

In [ ]:
# 리스트 안에 동일한 값이 여러 개 있으면 가장 앞에 나타난 인덱스를 보임
a = [1,2,3,4,2,2,3]
a.index(2)

In [ ]:
# 값이 없으면 에러
a = [1,2,3]
print(a)
a.index(5)

* count(값)

In [ ]:
a = [1,2,2,3,3,3,4,4,4,4]
print(a.count(2))
print(a.count(4))
print(a.count(5))

* sort()

In [ ]:
a = [1,6,3,4,5,2,7]
print(a)
a.sort()
print(a)

In [ ]:
# 내림차순 정렬은 sort(reverse=True) 이용
a = [1,6,3,4,5,2,7]
print(a)
a.sort(reverse=True)
print(a)

In [ ]:
a = ["가","마","나","바","다","사","라"]
print(a)
a.sort()
print(a)

In [ ]:
a = ["가","마","나","바","다","사","라"]
print(a)
a.sort(reverse=True)
print(a)

In [ ]:
a = ["A","E","B","F","C","G","D"]
print(a)
a.sort()
print(a)

In [ ]:
a = ["A","E","B","F","C","G","D"]
print(a)
a.sort(reverse=True)
print(a)

## 튜플 선언 방법

In [ ]:
a = ()
print(a)

In [ ]:
a = tuple()
print(a)

In [ ]:
# 괄호 생략 가능. 하나의 값은 콤마로 끝나야 함
a = 1,
print(a)

In [ ]:
a = (1,)
print(a)

In [ ]:
a = tuple((1,))
print(a)

In [ ]:
a = 1,2,3
print(a)

In [ ]:
a = (1,2,3)
print(a)

In [ ]:
a = tuple((1,2,3))
print(a)

## 튜플에 저장된 값 가져오기

* 1차원

In [ ]:
a = (1,2,3,4,5)

print(a[0])
print(a[3])

* 다차원

In [ ]:
# 2 x 3
a = ((1,2,3),
    (4,5,6))

print(a[0])
print(a[0][1])

## 튜플 슬라이싱

In [ ]:
a = (1,2,3,4,5,[6,7],8)
print(a[2:4])
print(a[-3:-1])

In [ ]:
a = (1,2,3,4,5)
print(a[:3])

In [ ]:
a = (1,2,3,4,5)
print(a[2:])

In [ ]:
a = ('a','b','c','d','e')
b = a[:4]
print(b)

## 리스트와 튜플의 원소 삭제

In [ ]:
# list는 위에서 배운 remove로 특정 값을 지정해서 삭제 가능
a = [1,2,3]
print(a)
a.remove(2)
print(a)

In [ ]:
# 또는 del 문을 써서 삭제
a = ['a','b','c','d','e']
print(a)
del a[1]
print(a)

In [ ]:
# 범위를 지정하여 삭제 가능
a = ['a','b','c','d','e']
print(a)
del a[2:4]
print(a)

In [ ]:
# 튜플은 한 번 선언하면 원소 삭제 불가능
a = ('a','b','c','d','e')
del a[0]

In [ ]:
# 튜플은 한 번 선언하면 원소 삭제 불가능
a = ('a','b','c','d','e')
del a[2:3]

In [ ]:
# 튜플은 한 번 선언하면 원소 삭제 불가능
a = ('a','b','c','d','e')
a.remove('b')

In [ ]:
# 리스트에서 쓸 수 있는 함수
a = ['a','b','c','d','e']
print(dir(a))

In [ ]:
# 쓸 수 있는 함수가 count, index 밖에 없음
a = ('a','b','c','d','e')
print(dir(a))

In [ ]:
# 튜플 안에 들어 있는 리스트는 수정이 가능
a = ([1,2,3],(4,5,6))
print(a)
a[0][1] = 3
print(a)
a[0].append(4)
print(a)

## 리스트와 튜플의 길이 확인 - len() 함수

In [ ]:
a = [1,2,3,4,5]
print(len(a))

In [ ]:
a = (1,2,3,4,5)
print(len(a))

In [ ]:
a = [[1,2],[3,4],5,6]
print(len(a))

## 오브젝트 삭제 - del 문

In [ ]:
a = "hello"
print(a)
del a
print(a)

In [ ]:
# 리스트의 일부 요소만 삭제 가능
a = [1,2,3,4,5]
print(a)
del a[1]
print(a)

In [ ]:
# 리스트의 범위 삭제 가능
a = [1,2,3,4,5]
print(a)
del a[1:4]
print(a)

In [ ]:
# 특정 범위에 빈 배열을 넣어서 삭제
a = [1,2,3,4,5]
print(a)
a[1:2] = [] # 
print(a)

In [ ]:
# 한 인덱스에 빈 배열을 넣으면, 해당 인덱스 값이 빈 배열로 치환 됨
a = [1,2,3,4,5]
print(a)
a[1] = []
print(a)

## 연습문제

1.
 * 성과 이름을 구분하여 리스트 하나에 저장
 * 화면에 이름을 붙여쓰기로 출력

In [ ]:
name = []

for _ in range(2):
    n = input()
    name.append(n)
    
print(name[0]+name[1])

2.
 * Given
  * 세 개의 양의 정수가 입력 됨
 * Goal
  * 세 정수로 이루어진 삼각형을 만들 수 있으면 yes를 출력
  * 아니면 no를 출력
  
(3주차 4번 문제 풀이는 정삼각형을 제대로 판별하지 못하는 오류 있음)

In [ ]:
triangle = []

for i in range(3):
    triangle.append(int(input()))
    
triangle.sort()

print(triangle)

if triangle[0] + triangle[1] > triangle[2]:
    print('yes')
else:
    print('no')

3.
 * 주사위를 20번 굴려서 리스트에 넣음
 * 키보드에서 숫자를 1개 입력 받음
 * 화면에 주사위를 굴려서 나온 숫자를 모두 출력
 * 맞춘 개수를 출력

In [ ]:
import random

dice = []

for _ in range(20):
    dice.append(random.randrange(1,7))

guess = int(input())
    
print('dice:',dice)
print(dice.count(guess))

4.
 * Given
  * 2차원 공간의 두 점의 위치를 실수 값으로 입력
 * Goal
  * 두 점의 유클리디안 거리를 계산하여 출력
  
(유클리드 거리)

두 점 $P=(p_1, p_2)$ 와 $Q=(q_1, q_2)$ 가 주어졌을 때, 이 두 점의 유클리드 거리는 아래와 같다.

$$
D = \sqrt{\sum_i (p_i - q_i)^2}
$$

In [ ]:
P = []
Q = []

for _ in range(2):
    P.append(float(input()))
for _ in range(2):
    Q.append(float(input()))
    
D = 0.

for i in range(2):
    D += (P[i] - Q[i])**2

D **= 1/2

print(D)